<div id="loading">
<center>
<h1>
looking for wikiplaces nearby...
</h1>
<div x-mojo-element="Spinner" id="spinnerId" class="spinnerClass" name="spinnerName"></div>
</center>
</div>

<div id="nowhere" style="display:none"><div style="padding:20px">It seems that you are in the middle of nowhere right now. There were no places found around you. Better luck next time ;) </div>
<button id="tryagain" class="palm-button">Try again</button>
</div>
<div id="debug"></div>

<center>
<!--
<div> This is a beta app. Please report any problems or suggestions to <a href="mailto:wikiplaces@omoco.de">wikiplaces@omoco.de</a>
<center></div> -->
<div id="plist" class="listClass" x-mojo-element="List" >
</div>
